*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    background: rgb(17,17,27);
}

.container
{
    width: 80%;
    height: 500px;
    margin: 90px auto;
    outline: 3px solid moccasin;
    position: relative;
    display: flex;
}

.item
{
    margin: auto; /*Margin en conjunto de display flex*/
    width: 50%;
    height: 50%;
    background: rgb(211, 171, 96);
}